<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <img src="https://altiplano.uvg.edu.gt/nosotros/img/png/Logo%20UVG%20-%20Verde.png" alt="Logo UVG" width="60" height="80" style="display:inline-block; vertical-align:middle;">
            <h1 style="display:inline-block; vertical-align:middle; margin: 0;">Proyecto</h1>
        </div>
        <ul class="nav navbar-nav d-flex flex-row" style="margin-top: 20px;">
            <li style="margin-right: 20px;"><h3><a href="">Home</a></h3></li>
            <li><h3><a href="">Menú</a></h3></li>
        </ul>
    </div>
</nav>
