<nav class="navbar navbar-default navbar-fixed-top custom-navbar">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <img src="https://altiplano.uvg.edu.gt/nosotros/img/png/Logo%20UVG%20-%20Verde.png" alt="Logo UVG" width="50" height="70" class="me-3">
      <h1 class="navbar-title mb-0">Proyecto</h1>
    </div>
    <ul class="nav navbar-nav d-flex flex-row gap-3 align-items-center mb-0">
      <li><a class="nav-link h4 mb-0" href="">Menú</a></li>
      <li><a class="nav-link h4 mb-0" href="/resultados">Resultados</a></li>
    </ul>
  </div>
</nav>
