<app-navbar></app-navbar>

<main class="main-content text-center">
  <div class="row">
    <!-- Card 1 -->
    <div class="col-md-4 mb-4">
      <div class="card h-100 bg-light">
        <div class="card-body">
          <h5 class="card-title">Procesos activos</h5>
          <a class="nav-link" [routerLink]="['/wizard', 'procesos']"><i class="bi bi-plus-square fs-1"></i></a>

        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-4 mb-4">
      <div class="card h-100 bg-light">
        <div class="card-body">
          <h5 class="card-title">Uso de memoria</h5>
          <a class="nav-link" [routerLink]="['/wizard', 'memoria']"><i class="bi bi-plus-square fs-1"></i></a>

        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-4 mb-4 ">
      <div class="card h-100 bg-light">
        <div class="card-body">
          <h5 class="card-title">Espacio en disco</h5>
         <a class="nav-link" [routerLink]="['/wizard', 'disco']"><i class="bi bi-plus-square fs-1"></i></a>

        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</main> 
<app-footer></app-footer>
